*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Style the navigation bar */
nav {
    background-color: #ECFAFF;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height:5vh;
    align-items: center;
  }

  /* Style the links in the navigation bar */
nav a {
    color: #9B8888;
    text-decoration: none;
    margin: 0 30px;
    font-size: 18px;
}

nav a:hover{
    text-decoration: underline;
}

/* Style the title */
.title {
    color: #9B8888;
    font-size: 24px;
    margin-left: 10px;
    letter-spacing: 10px;
    font-weight:bold;
}

#top{
    display:flex;
}


#banner{
    width:100%;
    height:93vh;
    object-fit: cover; 
}

#bannerDesc{
    width:35%;
    height:30vh;
    padding: 3%;
    text-align: justify;
    border-radius: 20px;
    position: absolute;
    top:25%;
    left:5%;
}

#bannerDesc > p{
    color:white;
    font-size : 25px;
    line-height: 30px;
    font-weight: bold;
    text-shadow: #000 1px 0 10px
}

#bannerDesc > h3{
    font-size:32px;
    line-height: 40px;
    color:white;
    text-shadow: #000 1px 0 10px
}

.desc{
    margin:2%;
    padding:2%;
}

.box{
    margin-top:2%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.country{
    text-align: center;
    padding:1%;
}

.name{
    font-size: 20px;
    letter-spacing: 10px;
    margin-top: 1%;
    padding-top:3%;
}

.map{
    height:220px;
    margin-bottom:4%;
}

.post{
    width: 220;
    height:294;
    object-fit: cover;
    border-radius: 20px;
}

.post:hover{
    padding:1%;
    border:1px solid gray;
}

#bottom{
    text-align: center;
    height:30vh;
    padding:3%;
    background-color: #F5F5F5;
}

.big{
    width:40%;
}

.small{
    width:20%;
}


.social{
    width:60px;
    height:60px;
    padding:1%;
}

.special{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

ul{
    list-style-type: none;
}

li{
    padding:2%;
}

.header{
    font-size:25px;
    font-weight:bold;
    margin-bottom:2%;
}

input{
    width:60%;
    height:30px;
    margin:1%;
}
form{
    padding:2%;
}